{% extends 'base.html.twig' %}

{% block title %}Liste des pages{% endblock %}

{% block body %}
    <main class="main-large">
        <article>
            <div class="row">
                <div class="col-6 offset-2">
                    <div class="vie-des-projets">
                        <h2>{{ page.titre }}</h2>
                        <p class="spacer">{{ page.contenu | striptags | markdown }}</p>
                        <p class="text-muted">
                            <span class="glyphicon glyphicon-time"></span>
                            {{ page.createdAt | date('d/m/Y H:i:s') ~ '|' ~ page.auteur }}
                        </p>
                    </div>

                    <div class="col-4 margin-left-30">
                        <div class="card">
                            <div class="card-body no-padding-bottom">
                                {#<h5 class="card-title">Documents</h5>#}
                                <h6 class="card-subtitle mb-2 text-muted">Document(s)</h6>
                                <ul>
                                    {% for document in page.documents %}
                                        {% if document.miniature != true %}
                                            <li class="card-text">
                                                <a href="{{ path('app_document_download', {'originalDocument':document.originalDocument}) }}">{{ document.titre }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    {% set img = "img/logo.png" %}

                    {% for document in page.documents %}
                        {% if document.miniature == true and document.originalDocument | file_exists %}
                            {% set img = path('app_document_load', {'originalDocument': document.originalDocument}) %}
                        {% endif %}
                    {% endfor %}

                    <img src="{{ img }}" class="mt-3" class="w-100">
                </div>
            </div>
        </article>
    </main>

{% endblock %}
