{% extends 'base.html.twig' %}

{% block title %}Liste des categorie{% endblock %}

{% block body %}
     

<a href="{{path('admin.form.categorie')}}" class="btn btn-primary"> Créer une categorie </a>                                              
<table>
<tr>
<th>id</th>
<th>titre</th>
</tr>

        {% for categorie in categories %}
<tr>
<td>{{categorie.id}}</td>
<td>{{categorie.titre}}</td>

    <td><a href="{{path('admin.categorie.modif', {'id':categorie.id})}}" class="btn btn-info"> modifier </a></td>                                              
<td><a href="{{path('admin.categorie.sup', {'id':categorie.id})}}" class="btn btn-danger"> Supprimer </a></td>                                              
                </tr>
            
        {% endfor %}
            </table>            
        
        </div>
{% endblock %}
