{% extends 'base.html.twig' %}

{% block title %}Liste des pages{% endblock %}

{% block body %}
<div class="jumbotron">
<a href="{{path('admin.form.page')}}" class="btn btn-primary"> Créer une  page </a>                                      
</div>
<div>
<table>
<tr>
<th>id</th>
<th>titre</th>
<th>date de création</th>
<th>date de mise à jour</th>
<th>pageparent</th>
<th>lire la suite</th>
<th>modifier</th>
<th>supprimer</th>

</tr>

        {% for page in pages %}
<tr>
<td>{{page.id}}</td>
<td>{{page.titre}}</td>
<td>{{page.createdAt | date('d/m/Y h:i ')}}</td>
<td>{{page.jourAt | date('d/m/Y h:i ')}}</td>
<td>{{page.titre}}</td>
<td><a href="{{path('admin.show',{'id':page.id})}} " class="btn btn-primary"> Lire la suite </a></td>      
<td><a href="{{path('admin.page.modif', {'id':page.id})}}" class="btn btn-info"> modifier </a>                              
<td><a href="{{path('admin.page.sup', {'id':page.id})}}" class="btn btn-danger"> Supprimer </a>                              
                </tr>
            
        {% endfor %}
            </table>            
        </div>

            </table>                    
<div class="navigation">
    {{ knp_pagination_render(pages) }}
</div>

{% endblock %}
