{% extends 'base.html.twig' %}   
         
{% form_theme formPage 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class = "jumbotron">
<h2>Creation d'une nouvelle page<h2>
</div>

{{ form_start(formPage) }}
<div class="form-group">

    {{ form_label(formPage.titre) }}

    <div class="col-sm-4 col-xs-8 small-spacer">

    {{ form_widget(formPage.titre) }}

    </div>

    <div class="col-xs-12">

    {{ form_errors(formPage.titre) }}

    </div>

    </div>

    <div class="form-group">

        {{ form_label(formPage.auteur) }}

    <div class="col-sm-4 col-xs-8 small-spacer">

    {{ form_widget(formPage.auteur) }}

    </div>

    <div class="col-xs-12">

    {{ form_errors(formPage.auteur) }}

    </div>

    </div>

    <div class="form-group">

        {{ form_label(formPage.contenu) }}

    <div class="col-sm-4 col-xs-8 small-spacer">

        {{ form_widget(formPage.contenu) }}

    </div>

    <div class="col-xs-12">

    {{ form_errors(formPage.contenu) }}

    </div>

    </div>

    <div class="form-group">

    {{ form_label(formPage.categorie) }}

    <div class="col-sm-4 col-xs-8 small-spacer">

    {{ form_widget(formPage.categorie) }}

    </div>

        <div class="col-xs-12">

    {{ form_errors(formPage.categorie) }}

    </div>

    </div>

<div class="form-group">

    {{ form_label(formPage.parent) }}

    <div class="col-sm-4 col-xs-8 small-spacer">

    {{ form_widget(formPage.parent) }}

    </div>

        <div class="col-xs-12">

    {{ form_errors(formPage.parent) }}

    </div>

    </div>

    <div class="form-group">

        {{ form_label(formPage.fichier) }}

    <div class="col-sm-4 col-xs-8 small-spacer">

    {{ form_widget(formPage.fichier) }}

    </div>

    <div class="col-xs-12">

    {{ form_errors(formPage.fichier) }}

    </div>

    </div>

    <button type="submit" class="btn btn-success">envoyer</button>

    {{ form_end(formPage) }}

{% endblock %}