<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIONIS TV</title>

    {% block stylesheets %}
        <link href="{{ asset('css/amelipro.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/simplemde.min.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>

<main class="main-large">

    <header>
        <div class="row">
            <div class="col-6">

                {% if 'admin' in app.request.pathInfo %}
                    <a href="{{ path('app_admin_default') }}"><img src="{{ asset('img/logo.png') }}" class="mt-3" width="200" alt="DIONIS"></a>
                {% else %}
                    <a href="{{ path('frontoffice') }}"><img src="{{ asset('img/logo.png') }}" class="mt-3" width="200" alt="DIONIS"></a>
                {% endif %}

            </div>
            <div class="col-6">
                {% block header %}{% endblock %}
            </div>
        </div>
    </header>

    <article>
        {% block body %}{% endblock %}
    </article>

    <a href="page.html" class="btn-menu" data-toggle="collapse" data-target=".menu"  {% if 'admin' in app.request.pathInfo %}hidden{% endif %}></a>

    {% set listeBlanche = [] %}
    {% set listeBlanche = listeBlanche|merge([constant('App\\Entity\\Categorie::A_LA_UNE')]) %}
    {% set listeBlanche = listeBlanche|merge([constant('App\\Entity\\Categorie::VIE_DES_PROJETS')]) %}
    {% set listeBlanche = listeBlanche|merge([constant('App\\Entity\\Categorie::AGENDA')]) %}


    <div class="menu collapse">
            <div class="row">
                <div class="col-9">MENU</div>
                <div class="col-3 text-right">
                    <a href="#" data-toggle="collapse" data-target=".menu">&times;</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul>
                        {% for branche in arbrePage.arbre %}
                            {% if branche.categorie is not null and branche.categorie.titre not in listeBlanche %}
                                {% set indentation = branche.niveau %}

                                {% for i in range(0, indentation) %}
                                    <ul>
                                {% endfor %}

                                <li><a href="{{ path('app_frontoffice_page', {'id': branche.page.id}) }}">{{ branche.page.titre }}</a></li>

                                {% for i in range(0, indentation) %}
                                    </ul>
                                {% endfor %}
                            {% endif %}

                            {% if branche.categorie is null %}
                                {% set indentation = branche.niveau %}

                                {% for i in range(0, indentation) %}
                                    <ul>
                                {% endfor %}

                                <li><a href="{{ path('app_frontoffice_page', {'id': branche.page.id}) }}">{{ branche.page.titre }}</a></li>

                                {% for i in range(0, indentation) %}
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

</main>


<!-- JS library -->
{% block scripts %}
    <script src="{{ asset('js/amelipro.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/simplemde.min.js') }}" type="text/javascript"></script>


{% endblock %}
</body>

</html>
